@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500&display=swap');
body {
  display: flex;
  font-family: Outfit;
  background-color: hsl(217, 54%, 11%);
  color: white;
  flex-direction: column;
  align-items: center;
}
p {
  font-size: 18px;
  color: hsl(215, 51%, 70%);
}
.wrap {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.card {
  background-color: hsl(216, 50%, 16%);
  border-radius: 20px;
  width: 340px;
  padding: 20px;
}
.info {
  display: inline-block;
}
.image {
  width: 340px;
  border-radius: 14px;
}
.cripto {
  color: hsl(178, 100%, 50%);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
hr {
  height: 1px;
}
.avatar {
	width: 40px;
	border: solid 1px white;
	border-radius: 50%;
}
.creator {
	color:  hsl(215, 51%, 70%);
	font-weight: 300;
}
strong {
	color: white;
	font-weight: 400;
}
h2:hover, strong:hover {
	color: hsl(178, 100%, 50%);
	cursor: pointer;
}
.date{
  margin-left: 100px;
}